body {
    background: linear-gradient(45deg, #B3E0FF, #80FFBF);
    font-family: 'Press Start 2P', cursive, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #360259;
    text-shadow: 0 0 5px #9A18BA, 0 0 10px #9A18BA, 0 0 20px #9A18BA;
}

button {
    background-color: #FF9966;
    color: #000000;
    padding: 15px 25px;
    margin: 10px;
    border: 2px solid #FF33CC;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Press Start 2P', cursive, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #FF6699;
    box-shadow:  0 0 15px rgba(255, 0, 255, 0.6);
}

#inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principal {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    padding: 15px 20px;
    background: linear-gradient(45deg, #FF33CC, #FFCC00);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
}

.reglas {
    background-color: rgba(255, 204, 0, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    margin: 30px 25px;
    width: 70%;

}

.empezarC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.empezarC img {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.respuestaC {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.respuestaC img {
    width: 100%;
    width: 500px;
    height: auto;
}

#respuesta {
    position: absolute;
    text-align: center;
    z-index: 2;
    top: 25%;
    left: 50%;
    width: 200px;
    transform: translate(-50%, -50%);
    padding: 15px 20px;
    font-size: 14px;
    color: white;
    background-color: #2f6bc3;
    border-radius: 10px;
    border: 5px outset #FF33CC;
    position: absolute;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.preguntaC {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 15px 20px;
}

#pregunta {
    font-size: 16px;
    padding: 15px 20px;
    border: 2px solid #FF33CC;
    border-radius: 10px;
    background: #FF33CC;
    color: #000000;
    width: 100%;
    max-width: 400px;
    transition: all 0.3s ease;
}

#pregunta:focus {
    outline: none;
    border-color: #FFCC00;
    box-shadow: 0 0 8px #FF33CC;
}

#pregunta::placeholder {
    color: #000000;
    font-style: italic;
}

.preguntaC p {
    font-size: 18px;
    font-weight: bold;
    color: #6A07AB;
    text-shadow: 0 0 5px #FF33CC, 0 0 10px #FF33CC, 0 0 20px #FF33CC;
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    body {
        padding: 10px;
    }

    .principal, .reglas {
        width: 90%;
        margin: 10px 10px;
        font-size: 0.8rem;
    }
   
    .respuestaC img {
        width: 100%;
    }

    #respuesta {
        width: 70%;
        font-size: 0.8rem;
    }

    #pregunta {
        font-size: 1rem;
    }

    button {
        width: 100%;
        font-size: 1rem;
        padding: 10px 15px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .principal {
        margin: 10px 15px;
        font-size: 1rem;
    }
}